.contribute {
    margin-top: 250px;
    text-align: center;
    &__subtitle {
        margin-top: 25px;
        margin-bottom: 100px;
    }
    &__wrapp {
        margin: 0 auto;
        padding-top: 100px;
        width: 550px;
        height: 65px;
    }
}