@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins:wght@400;500;600&display=swap');

.app {
    position: relative;
    background-color: rgba(30, 37, 43, 1);
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    margin: 0 auto;
}


.container {  
    margin: 0 auto;
    max-width: 1224px;
}